.container-login{
height: 70vh;
}
.box{
    height: 45vh;
    width: 25vw;
    background-color: rgb(240, 130, 130);
    border-radius: 10%;
    margin-left: 35vw;
    margin-top: 10vh;
}
.form{
    background-color: transparent;
}
.form input{
    height: 3rem;
    border: none;
    background-color: white;
    margin-left: 3rem;
    margin-top: 35%;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
.form button{
    height: 3.1rem;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 0.5rem;
}
