.background{
    background-color: rgba(241, 197, 197, 0.151);
    height: 80vh;
}
.background p{
    margin-left: 38vw;
    margin-top: 1vh;
    font-size: 1.5vw;
    color: rgb(77, 14, 14);
    font-family: cursive;
}
.fa-user-circle{
    font-size: 12vw;
    color: rgb(77, 14, 14);
    margin-left: 40vw;
    margin-right: 0;
    margin-top: 2vh;
}
.fa-trash{
    cursor: pointer;
}
.fa-trash:hover{
    color: rgb(77, 14, 14);
}
.pokedex2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin: 1em 1em 1em 1.5em;
}
.pokemons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(rgb(240, 130, 130), rgb(77, 14, 14));
    height: 25vh;
    width: 15vw;
    margin: 1vh 2vw 4vh 1vw;
    border-radius: 50%;
    color: rgb(248, 242, 242);
    filter: drop-shadow( 0.5em 0.5em 0.5em rgb(61, 26, 26));
}
