.all p{
    font-family: cursive;
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 1vh;
    font-weight: bold;
    color: rgb(61, 26, 26)
}
.all {
    background-color: rgba(241, 197, 197, 0.151);
}
.pokedex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin: 2vh 2vw 2vh 2vw;
}
.pokemon span{
    font-family: cursive;
    margin: 1em 1em 1em 1em;
}
.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(rgb(240, 130, 130), rgb(77, 14, 14));
    height: 28vh;
    width: 15vw;
    margin: 1vh 2vw 4vh 1vw;
    border-radius: 50%;
    color: rgb(248, 242, 242);
    filter: drop-shadow( 0.5em 0.5em 0.5em rgb(61, 26, 26));
}
.pokemon .image:hover {
    animation-name: girando;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}
.fa-heart-o{
    cursor: pointer;
}
.fa-heart-o:hover{
    color: rgb(77, 14, 14);
}
.btn-pokemon {
    height: 10vh;
    width: 10vw;
    margin: 1vh 66vw 2vh 4vw;
    cursor: pointer;
}
.btn-pokemon:hover {
    background-color: rgb(240, 130, 130);
}
.btn-pokemonp{
    height: 10vh;
    width: 10vw;
    margin: 1vh 0 2vh 1vw;
    cursor: pointer;
}
.btn-pokemonp:hover {
    background-color: rgb(240, 130, 130);
}
@keyframes girando{
    from{
     transform: rotate(0deg);
    }
   to{
     transform: rotate(360deg);
    }
}
.Link{
    text-decoration: none;
    color: rgb(248, 242, 242);
    font-family: cursive;
    cursor: pointer;
}