.container{
    background-color: rgba(241, 197, 197, 0.151);
    height: 80vh;
}
.container p{
    padding: 2em;
    font-size: 20px;
    font-family: cursive;
    color: rgb(77, 14, 14);

}
.card{
    background-image: radial-gradient(rgb(240, 130, 130), rgb(77, 14, 14));
    height: 250px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    left: 40vw;
    margin-top: 5%;
}
.card img{
    margin-left: 30%;
    margin-top: 10%;
}
.pokeInfo{
    display: flex;
    background-color: rgba(241, 197, 197, 0.911);
    height: 52%;
    border-radius: 10px;
    color: rgb(77, 14, 14);
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}
.pokeInfo span{
    text-align: center;
    margin-top: 10%;
}
.pokeInfo .kind{
    text-align: center;
}