footer{
    display: flex;
    background-image: linear-gradient(rgb(240, 130, 130), rgb(77, 14, 14));
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
    color: rgb(248, 242, 242);
    justify-content: center;
    font-family: cursive;
    align-items: center;
}