*{
    margin-top: 0;
}
.Head{
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(rgb(77, 14, 14), rgb(240, 130, 130));
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.Head p{
    color: white;
    font-family: cursive;
    text-align: center;
}
.poke{
    height: 8vh;
    width: 5vw;
}
