*{
    margin-top: 0;
}
.divnavbar{
    display: flex;
    background-image: linear-gradient(rgb(77, 14, 14), rgb(240, 130, 130));
    height: 10vh;
    width: 100vw;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    color: white;
    font-family: cursive;
    font-size: 1.5vw;
    margin-top: 2vh;
}
.poke{
    height: 8vh;
    width: 5vw;
}

.ul-navbar {
    display: flex;
    list-style: none;
    margin-left: 60vw;
    background-color: transparent;
}

.li-navbar {
    margin-left: 5vw;
    margin-top: 1vh;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: rgb(248, 242, 242);
    text-decoration: none;
    font-size: 1.5vw;
    font-family: cursive;
}